<table class="content">
	<tr>
		<td width="400px" valign="top">
			Dr. Patricia M. Pavel is a board-certified OB/GYN who graduated with honors from Columbia University in 2001. She obtained her medical degree from New York Medical College in 2005, and completed her Obstetrics and Gynecology residency training in 2009 at St. Luke's-Roosevelt Hospital in Manhattan, a teaching hospital of Columbia University. She joined Willowbrook Ob/Gyn in 2009, and takes great pride in offering comprehensive women's care through all stages of life. <br/><br/>

			A resident of Wayne, Dr. Pavel enjoys spending time with her husband and two children. Her interests include photography and travel.
		</td>

		<td width="70px">
		</td>

		<td>
			<%= image_tag("dr_pavel.jpg", width: "200px") %>
		</td>
	</tr>
</table>