.banner{
	position: relative;
	z-index: -1000;
}

.navbar {
	height: 34px;
	width: 1000px;
	margin: -5px 0 0 -30px;
	position: relative;
	background: url(/assets/bg-linear-nav.png);
	background-repeat: repeat-x;
	padding: 10px 30px;
	border-radius: 15px;
	/*border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;*/
	/*margin-top: -5px;*/
	z-index: 1000;
	color: black;
	a {
		color: black;
		text-decoration: none;
	}
}

ul.nav{
	margin-top: -20px;
	margin-left: 40px;
	line-height: 1.4em;
}

/*ul .nav {
	float: left;
	width: 1020px;
	margin: auto;
}*/

ul li {
	float: left;
	width: auto;
	padding-right: 60px;
}